<h1>FAQ</h1>

<h2>What do you mean by Pop Up?</h2>
<p>A pop up event is a temporary event in a unique location.  It may take form as an art installtion, community dinner, retail store, coworking, performance, or anything you can imagine! They are often one-time only events – which is part of the fun!</p>

<h2>What are some benefits of Pop Up?</h2>
<p>Coming soon....</p>

Does my space or idea have be in Burlington?
No. Spaces and ideas in surrounding towns are ok to list but may find less attendees or matches. 

How much does it cost?
Nothing. The whole site is free. Enjoy!

Who runs this site?
We're an ad-hoc group of volunteers who saw a need for this type of project. If you're like to help, please contact us (amy.kirschner at gmail.com)

Why isn't the site live yet?
We're still learning! It's currently a working prototype (in alpha development). The site is curated at this phase so we can interact more closely with users and potential users to understand what changes we should make for the Beta Version. We anticipate that it will be fully featured and usable to the public in early Fall 2012. 

Why is the site curated?
During the prototype phase, we are learning from the listings that are going up and tweaking the design to reflect these learnings. We also want to make sure that any spam doesn't find it's way in. 

I'm having technical problems – who can I contact?
The current steward for this project is Amy Kirschner. She can be contacted at amy.kirschner(at)gmail.com. 

Space Questions:
Who will be using my space?
Whoever you want. You ultimately decide what you are comfortable with. Please list as many decision criteria as you can think of in your listing to help with the filtering. It is ok to say 'no' to a request for space that you aren't interested in. 

Can I charge cash?
The goal of this site is to make spaces more accessible for groups that have small budgets. You may negotiate reciprocity of some kind such as sponsorship, donation receipt (if working with a federally registered non-profit), VBSR Credits (link), or some cash to cover a hard expense if you have one. If you're looking to make money in a traditional way from the use of your space we suggest Craigslist or the classified section of a local newspaper. 

How do I know they will respect my space?
This site doesn't not currently support vetting or user ratings. Using old-fashioned common sense, references, etc are a good idea.  We also deliberately focused this site on Burlington, Vermont since we're all 2 degrees of separation from each other to help with this! 

What types of space can be listed?
Business Space. This site is currently not supporting overnight stays or other types of arrangemnets. 


Idea Questions: 
Do I need insurance?
It's probably a good idea and it's possible a space may require it. Ask your regular broker about '____________' or contact _________________

Do I need a permit?
Maybe. Contact ____________ at Burlington Planning and Zoning or your local town office if the event will be outside of Burlington. We met with them to keep them in the loop on this idea. Here is what they said:_________________________

Why isn't my event listed?
During the prototype phase, listings require admin approval before they go live. 

What happens if I need to cancel my event?
Please call the space as soon as possible. Also, let us know (LINK to contact) so we can take down your matched listing. 

Can you help me get other things I need?
That would be cool! At this point, we're just supporting matching for underused commercial space. 

Can I do any kind of event?
It should benefit the common good in some way. 

Will you help me negotiate with the landlord?
No. Through this site, we're helping to introduce you to potential spaces but the event is all yours and the negotiation is up to you. 

I'm a real estate agent. Can I list my properties here?
If you are listing properties that are only rentable in cash, please use your normal marketing channels or Craigslist. If you are open to alternative arrangements and have the permission of the owner, we welcome your listing!

I'm a member of the public – can I attend any of these events?
Each event will list the invitation parameters and a link to registration (if applicable). 

How can I do this in my town?
Yes. The code is open source and available here: ________________________
We'll be doing webinars to explain our process. The next one is____________________
This site is cc-by-sa (IMAGE), please feel free to use and remix. 